.location {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  z-index: 10;
  font-weight: 700;
}

.now-playing {
  font-size: var(--header-font);
  font-weight: 900;
}

.city-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5px;
}

.pulse-contnainer {
  width: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pulsing-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--mint);
  animation-name: pulsate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.location-text {
  color: var(--mint);
  font-size: var(--body-font);
}

@keyframes pulsate {
  0% {
    width: 10px;
    height: 10px;
  }
  50% {
    width: 12px;
    height: 12px;
  }
  0% {
    width: 10px;
    height: 10px;
  }
}
