.list {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.movies-list {
  position: relative;
  display: flex;
  flex-grow: 1;
  overflow: auto;
  align-items: center;
  justify-content: space-between;
}

.list-wrapper {
  flex-grow: 1;
  position: relative;
  margin-top: 110px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
