.movie {
  display: flex;
  position: relative;
  flex-direction: column;
  width: min(400px, 90vw);
  height: 90%;
  max-height: 90%;
  border-radius: 10px;
  margin-left: 20px;
}

.movie-summary {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 40px 30px 40px 30px;
  height: 100%;
}
.movie-title {
  font-size: var(--header-font);
  font-weight: bold;
}
.genres {
  display: flex;
  flex-direction: row;
  font-size: var(--body-font);
  margin-bottom: 5px;
}

.genre {
  color: var(--mint);
  font-size: var(--body-font);
  font-weight: 600;
}

.rating {
  font-size: var(--body-font);
  font-weight: 600;
}

.genre:not(:last-child)::after {
  content: "•";
  margin: 0 8px;
}

/* compensating for long movie titles in very small screens */
@media (max-width: 330px) {
  .movie-title {
    font-size: 2rem;
    font-weight: bold;
  }
}

/* for tablet and up */
@media (min-width: 700px) {
  .movie {
    width: min(650px, 90vw);
  }
}
