.movie {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: min(400px, 90vw);
  height: min(600px, 80vh);
  border-radius: 10px;
  margin-left: 20px;
}

.movie-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 50px;
  margin-top: 50px;
}
.movie-title {
  font-size: 3rem;
  font-weight: bold;
}
.genres {
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
}

.rating {
  font-size: 1.3rem;
  font-weight: bold;
}
